@using AppEngine.Models.Common
@using AppEngine.Models.DataObject

@if (ViewBag.AccessDenied)
{
    <div>Nie posiadasz uprawnień do oglądania tej strony</div>
}
else
{
    <div class="training-header" ng-init="generateDate='@ViewBag.GenerateDate';trainingID='@ViewBag.Training.TrainingID';">
        <div class="training-logo"></div>
        <div>
            W dniu @ViewBag.StartDate.ToString("dd.MM.yyyy") uruchomiłeś szkolenie @ViewBag.Training.Name, dostarczone przez
            @if (TrainingType.Kenpro == @ViewBag.Training.TrainingType)
            {
                <span>Kenpro</span>
            }
            else
            {
                <span>@ViewBag.Training.UserName</span>
            }
        </div>
    </div>

    <div class="training-content">
        @{
    foreach (TrainingDetail detail in ViewBag.TrainingDetails)
    {
        switch ((TrainingResource)detail.ResourceType)
        {
            case TrainingResource.File:
                <a href="@detail.InternalResource" target="_blank">pobierz</a>
                break;

            case TrainingResource.Graphic:
                <div class="training-image">
                    @if (!string.IsNullOrWhiteSpace(detail.ExternalResource))
                    {
                        <img src="@detail.ExternalResource" />
                    }

                    @if (!string.IsNullOrWhiteSpace(detail.InternalResource))
                    {
                        <img src="@detail.InternalResource" />
                    }
                </div>
                    break;

            case TrainingResource.Presentation:
                    <iframe src="@detail.InternalResource" style="width:600px; height:500px;" frameborder="0"></iframe>
                    break;

            case TrainingResource.Video:
                    if (!String.IsNullOrWhiteSpace(detail.InternalResource))
                    {
                        <video width="560" height="315" controls>
                            <source src="@detail.InternalResource">
                            Your browser does not support the video tag.
                        </video>
                    }
                    else if (!String.IsNullOrWhiteSpace(detail.ExternalResource))
                    {
                        if (detail.ExternalResource.IndexOf("youtube.com") != -1)
                        {
                            <iframe width="560" height="315" src="@detail.ExternalResource" frameborder="0" allowfullscreen></iframe>
                        }
                        else if (detail.ExternalResource.IndexOf("player.vimeo.com") != -1)
                        {
                            <iframe src="@detail.ExternalResource" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        }
                    }
                    break;

            case TrainingResource.Text:
            default:
            <div class="training-text">@Html.Raw(@detail.Text)</div>
                    break;
        }
    }
        }
    </div>
    <div>
        Sprawdź się!
    </div>
    <div class="training-questions">
        @{
    foreach (TrainingQuestion question in ViewBag.Questions)
    {
        <div class="training-question">
            @Html.Raw(@question.Text)
            <div class="training-answers" ng-init="init('@question.TrainingQuestionID', '@question.Type')">
                @{
        switch ((QuestionType)question.Type)
        {
            case QuestionType.Single:
                    foreach (TrainingAnswer answer in question.Answers)
                    {
                        <div class="training-answer"><input type="radio" name="@question.TrainingQuestionID" ng-model="answers['@question.TrainingQuestionID']" value="@answer.TrainingAnswerID" /> @answer.Text</div>
                    }
                    break;
            case QuestionType.Multi:
                foreach (TrainingAnswer answer in question.Answers)
                {
                    <div class="training-answer"><input type="checkbox" ng-model="answers['@question.TrainingQuestionID']['@answer.TrainingAnswerID']" value="@answer.TrainingAnswerID" ng-init="answers['@question.TrainingQuestionID']['@answer.TrainingAnswerID'] = false;" /> @answer.Text</div>
                }
                break;

            case QuestionType.Text:
            default:
                <div class="training-answer"><input type="text" ng-model="answers['@question.TrainingQuestionID']" /></div>
                break;
        }
                }
            </div>
        </div>
    }
        }
    </div>
    <div>Czy jesteś zadowolony(a) z tego szkolenia?</div>
    <div class="rate" ng-repeat="value in [1,2,3,4,5]">
        <div class="rate-star" ng-class="{'selected': (currentRate >= value)}" ng-click="rate(value)">{{value}}</div>
    </div>
    <div class="btn" ng-click="summarize()">Podsumuj szkolenie</div>
}
