<!DOCTYPE html>
<html ng-app="SystemModuleApp" ng-controller="BaseController">
<head>
    <title ng-bind="models.Title"></title>   
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/thirdParty/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "EAeEKO3VzdpazpWtR0V3XPAKTZakRVwqrnqTsw==";</script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/FroalaStyles")
</head>
<body>
    <div id="spinner">
        <div class="spinner-background"></div>
        <div class="spinner-icon-wrapper">
            <div class="spinner-cell">
                <div class="spinner-icon"></div>
            </div>
        </div>
    </div>
    <div id="menu" ng-menu></div>
    <div class="container mainContent">
        <div ng-view></div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>    
    @Scripts.Render("~/FroalaScripts")
    @Scripts.Render("~/bundles/SystemModuleApp")
    @Scripts.Render("~/bundles/SystemModuleAppComponents")
</body>
</html>