@using AppEngine.Models.DataBusiness
@using AppEngine.Helpers
<div>{{errorMessage}}</div>

<div class="container" id="invite">

        
    <form name="inviteFrm">
        <div class="row">
            <div>
                <h3>ZAPROŚ OSOBĘ DO ZESPOŁU</h3>
            </div>
            <div class="col-lg-6 form-row">
                <div>
                    <label>podaj adres e-mail</label>
                    <input class="form-control" name="inviteUserEmail" ng-model="user.Email" type="text" placeholder="adres e-mail" required />
                </div>
                <div>
                    <label>podaj nazwę użytkownika</label>
                    <input class="form-control" name="inviteUserName" ng-model="user.UserName" type="text" placeholder="nazwa użytkownika" required maxlength="30" />
                </div>
                <div>
                    <label>określ rolę zapraszanego</label>
                    <select class="form-control select-green select-m" name="inviteUserRole" ng-model="user.Role">
                        <option value="@((int)ProfileEnum.User)">@ProfileEnum.User.GetDescription()</option>
                        <option value="@((int)ProfileEnum.Creator)">@ProfileEnum.Creator.GetDescription()</option>
                        <option value="@((int)ProfileEnum.Manager)">@ProfileEnum.Manager.GetDescription()</option>

                        @if (ViewBag.User.Profile == ProfileEnum.Administrator ||
                    ViewBag.User.Profile == ProfileEnum.Protector ||
                    ViewBag.User.Profile == ProfileEnum.Superuser)
                        {
                            <option value="@((int)ProfileEnum.Administrator)" ng-click="inviteUser()">@ProfileEnum.Administrator.GetDescription()</option>
                        }
                    </select>
                </div>
                <div>
                    <button class="btn btn-l green-button" ng-click="invite()">WYŚLIJ ZAPROSZENIE</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="navy-cloud">
                    Wypełnij formularz, by zaprosić
                    nowego członka zespołu. Pod podany
                    adres e-mail zostanie wysłana
                    informacja o zaproszeniu z linkiem
                    aktywacyjnym.
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <h3>WYSŁANE ZAPROSZENIA</h3>
    </div>
    <div class="row">
        <div class="display-table">
            <div class="display-table-header-group">
                <div class="display-table-row green-labels main-labels">
                    <div>ZAPROSZONY</div>
                    <div>DATA</div>
                    <div>STATUS</div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            @foreach (var user in ViewBag.InvitedUsers)
            {
                if (user.Profile != ProfileEnum.Protector) { 
                <div class="display-table-row-group" ng-init="u_@user.Id.Replace("-", "") = false">
                    <div class="display-table-row">
                        <div>
                            @user.DisplayName
                        </div>

                        <div>
                            @user.InvitationDate
                        </div>
                        <div>
                            @if (!user.IsDeleted)
                            {
                                WriteLiteral(((StatusEnum)user.Status).GetDescription());
                            }
                            else
                            {
                                WriteLiteral("Nieaktualne");
                            }
                        </div>
                        <div>
                            <button ng-show="!u_@user.Id.Replace("-","")" ng-click="toggle('u_@user.Id.Replace("-", "")')" class="show-details btn squared-btn empty-green-button glyphicon glyphicon-chevron-down"></button>
                            <button ng-show="u_@user.Id.Replace("-", "")" ng-click="toggle('u_@user.Id.Replace("-", "")')" class="show-details btn squared-btn empty-green-button glyphicon glyphicon-chevron-up"></button>
                        </div>
                        <div>
                            @if (((StatusEnum)user.Status) == StatusEnum.Invited)
                            {
                                <button ng-click="deleteUser('@user.Id.Replace("-","")')" class="glyphicon glyphicon-remove squared-btn empty-purple-button"></button>
                            }
                        </div>
                    </div>
                    <div ng-show="u_@user.Id.Replace("-", "")" class="display-table-row details-row green-labels">
                        <div>ZAPRASZAJĄCY</div>
                        <div>ADRES E-MAIL</div>
                        <div>ROLA</div>
                    </div>
                    <div ng-show="u_@user.Id.Replace("-", "")" class="display-table-row details-row">
                        <div>
                            @if (user.Inviter != null)
                            {
                                @user.Inviter.DisplayName
                            }
                        </div>
                        <div>
                            @user.Email
                        </div>
                        <div>
                            @(((ProfileEnum)user.Profile).GetDescription())
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
      



@*<div>

    <div>Wprowadź dane i zaproś użytkownika do udziału w grupie:</div>
    <form name="inviteFrm">
        <div><label for="inviteUserName">Nazwa Użytkownika</label><input name="inviteUserName" ng-model="user.UserName" type="text" placeholder="NazwaUżytkownika" required maxlength="30" /></div>
        <div><label for="inviteUserEmail">Adres Email</label><input name="inviteUserEmail" ng-model="user.Email" type="text" placeholder="adres@email.pl" required /></div>
        <div><label for="inviteUserRole">Rola</label>
            <select name="inviteUserRole" ng-model="user.Role">
                <option value="@((int)ProfileEnum.User)">@ProfileEnum.User.GetDescription()</option>
                <option value="@((int)ProfileEnum.Creator)">@ProfileEnum.Creator.GetDescription()</option>
                <option value="@((int)ProfileEnum.Manager)">@ProfileEnum.Manager.GetDescription()</option>

                @if (ViewBag.User.Profile == ProfileEnum.Administrator ||
                    ViewBag.User.Profile == ProfileEnum.Protector ||
                    ViewBag.User.Profile == ProfileEnum.Superuser)
                {
                    <option value="@((int)ProfileEnum.Administrator)" ng-click="inviteUser()">@ProfileEnum.Administrator.GetDescription()</option>
                }
            </select>

        </div>
        <div><div class="btn" ng-click="invite()">Wyślij zaproszenie</div></div>
        <div>Zaproszenia wysłane</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa zaproszonego</th>
                        <th>Nazwa zapraszającego</th>
                        <th>Data zaproszenia</th>
                        <th>Rola</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in ViewBag.InvitedUsers) {
                        <tr >
                            <td>
                                @user.DisplayName
                            </td>
                            <td>
                                @if(user.Inviter != null) {
                                    @user.Inviter.DisplayName
                                }
                            </td>
                            <td>
                                @user.InvitationDate
                            </td>
                            <td>
                                @(((ProfileEnum)user.Profile).GetDescription())
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                @if(!user.IsDeleted){
                                    WriteLiteral(((StatusEnum)user.Status).GetDescription());
                                } else {
                                    WriteLiteral("Nieaktualne");
                                }
                            </td>
                            <td>
                                @if(((StatusEnum)user.Status) == StatusEnum.Invited)
                                {
                                    <div ng-click="deleteUser('@user.Id')">Usuń zaproszenie</div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>*@

@Styles.Render("~/Users")