<!DOCTYPE html>
<html ng-app="OrganizationModuleApp" ng-controller="BaseController">
<head>
    <title ng-bind="models.Title"></title>    
    @Scripts.Render("~/bundles/jquery")
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">*@
    <script type="text/javascript" src="/thirdParty/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "EAeEKO3VzdpazpWtR0V3XPAKTZakRVwqrnqTsw==";</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/FroalaScripts")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/FroalaStyles")
</head>
<body>
    <div id="spinner">
        <div class="spinner-background"></div>
        <div class="spinner-icon-wrapper">
            <div class="spinner-cell">
                <div class="spinner-icon"></div>
            </div> 
        </div>
    </div>
    <div ng-messages></div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <img src="~/Content/Images/logo.png" />
            </div>
            <div class="current-user" ng-cloak ng-show="currentUser">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <img src="~/Content/Images/user-icon.png" />
                            <span>{{currentUser.DisplayName}}</span> <img src="~/Content/Images/show-right-menu.png" />
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/userCurrent">
                                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE USTAWIENIA</span>
                                </a>
                            </li>
                            <li>
                                <a href="/logoff">
                                    <img src="/Content/Images/menu-icon.png" /> <span>WYLOGUJ</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div id="menu" ng-menu></div>
            <div id="content" class="col-md-8 col-lg-9">
                <div class="mainContent">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/OrganizationModuleApp")
    @Scripts.Render("~/bundles/OrganizationModuleAppComponents")
</body>
</html>