<!DOCTYPE html>
<html ng-app="OrganizationModuleApp" ng-controller="BaseController">
<head>
    <title ng-bind="models.Title"></title>    
    @Scripts.Render("~/bundles/jquery")
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/FroalaScripts")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/FroalaStyles")
</head>
<body>
    <div id="spinner">
        <div class="spinner-background"></div>
        <div class="spinner-icon-wrapper">
            <div class="spinner-cell">
                <div class="spinner-icon"></div>
            </div> 
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <img src="~/Content/Images/logo.png" />
            </div>
        </div>
        <hr />
    </div>
    
    



    @*<div class="navbar navbar-default navbar-left" role="navigation">
        <ul class="nav">
            <li><a href="/userCurrent" >{{models.Login}}</a></li>
            <li><a href="/userTrainings">Lista szkolen</a></li>
            <li><a href="/userAvailableTrainings">Aktywne szkolenia</a></li>
            <li><a href="/userResult">Wyniki</a></li>
            <li><a href="/userFaq">FAQ</a></li>
        </ul>
        <ul class="nav">
            <li><a href="/creatorTraining">Utworz szkolenie</a></li>
            <li><a href="/creatorTrainings">Moje szkolenia</a></li>
            <li><a href="/creatorHowTo">Jak tworzyc szkolenie</a></li>
        </ul>
        <ul class="nav">
            <li><a href="/managerResult">Wyniki szkolen</a></li>
            <li><a href="/managerEdit">Edycja szkolenia</a></li>
            <li><a href="/managerInvitation">Zaproszenia</a></li>
        </ul>
        <ul class="nav ">
            <li><a href="/adminUsers">Uzytkownicy </a></li>
            <li><a href="/adminGroups">Grupy uzytkownikow</a></li>
            <li><a href="/adminManage">Zarzadzanie szkoleniami</a></li>
            <li><a href="/adminStats">Statystyki</a></li>
            <li><a href="/adminSettings">Ustawienia firmowe</a></li>
            <li><a href="/adminHowTo">Instrukcja obslugi</a></li>
        </ul>
        <ul class="nav ">
            <li><a href="/protectorRoles">Uprawnienia</a></li>
            <li><a href="/protectorLogs">Logi</a></li>
        </ul>
    </div>*@

    <div class="container">
        <div class="row">
            <div id="menu" ng-menu></div>
            <div id="content" class="col-md-8 col-lg-9">
                <div class="mainContent">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/OrganizationModuleApp")
    @Scripts.Render("~/bundles/OrganizationModuleAppComponents")
</body>
</html>