@foreach(var trainingResult in ViewBag.TrainingResults)
{ 
    <div>
        <div>@trainingResult.Training.Name</div>
        <div>Data uruchomienia: @trainingResult.StartDate.ToString("dd.MM.yyyy")</div>
        <div>Data ukończenia: @trainingResult.StartDate.ToString("dd.MM.yyyy")</div>
    </div>
    
    <div>
        <div>
            <span>Zdobyte umiejętności:</span>
            @if (trainingResult.Rating >= trainingResult.Training.PassResult)
            {
                <span>@trainingResult.Training.PassInfo</span>
            } else {
                <span>Szkolenie nie zostało zaliczone</span>
            }
        </div>

        <div>
            <span>Zdobyta odznaka:</span>
            @if (trainingResult.Rating >= trainingResult.Training.PassResult)
            {
                <img src="@trainingResult.Training.PassResources" />
            }
        </div>

        <div>
            <span>Punkty:</span>
            <span>@trainingResult.Rating</span>/<span>@trainingResult.PossibleRating</span>
            <span>@if(trainingResult.PossibleRating != 0) 
                  {
                    <span>@(trainingResult.Rating * 100 / trainingResult.PossibleRating)</span>
                  }
                    %
            </span>
        </div>

    </div>
}