@using AppEngine.Models.Common

@if (ViewBag.TrainingResults.Count > 0)
{
    <div class="col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3" id="courses-result">
        @foreach (var trainingResult in ViewBag.TrainingResults)
        {
            if (trainingResult.IsPassed ?? false)
            {
                <div class="course-result passed">
                    <h2>@trainingResult.Training.Name</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>AUTOR</span>
                            @if (TrainingType.Kenpro == @trainingResult.Training.TrainingType)
                            {
                                <span>KENPRO</span>
                            }
                            else
                            {
                                <span>@trainingResult.Training.UserName</span>
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>URUCHOMIONE</span>
                                    <strong>@trainingResult.StartDate.ToString("dd.MM.yyyy")</strong>
                                </div>
                                <div class="col-xs-6">
                                    <span>ZAKOŃCZONE</span>
                                    <strong>@trainingResult.StartDate.ToString("dd.MM.yyyy")</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row second-row">
                        <div class="col-sm-6 points">
                            <span>UZYSKANE PUNKTY</span>
                            <div>@trainingResult.Rating/@trainingResult.PossibleRate</div>
                            <div class="percent">
                                @if (trainingResult.PossibleRate != 0)
                                {
                                    <span>@(trainingResult.Rating * 100 / trainingResult.PossibleRate)</span>
                                } else {
                                    <span>100.00</span>
                                }
                                %
                            </div>
                        </div>
                        <div class="col-sm-6 skills">
                            <span>ZDOBYTE UMIEJĘTNOŚCI</span>
                            <div class="txt-l">@trainingResult.Training.PassInfo</div>
                            <img src="@trainingResult.Training.PassResources" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="course-result">
                    <h2>@trainingResult.Training.Name</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>AUTOR</span>
                            @if (TrainingType.Kenpro == @trainingResult.Training.TrainingType)
                            {
                                <span>KENPRO</span>
                            }
                            else
                            {
                                <span>@trainingResult.Training.UserName</span>
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>URUCHOMIONE</span>
                                    <strong>@trainingResult.StartDate.ToString("dd.MM.yyyy")</strong>
                                </div>
                                <div class="col-xs-6">
                                    <span>ZAKOŃCZONE</span>
                                    <strong>@trainingResult.StartDate.ToString("dd.MM.yyyy")</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row second-row">
                        <div class="col-sm-6 points">
                            <span>UZYSKANE PUNKTY</span>
                            <div>@trainingResult.Rating/@trainingResult.PossibleRate</div>
                            <div class="percent">
                                @if (trainingResult.PossibleRate != 0)
                                {
                        <span>@((trainingResult.Rating * 100 / trainingResult.PossibleRate).ToString("0.00"))</span>
                                }%
                            </div>
                        </div>
                        <div class="col-sm-6 skills">
                            <span>ZDOBYTE UMIEJĘTNOŚCI</span>
                            <div class="txt-l">Szkolenie nie zostało ukończone</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <div>Brak ukończonych szkoleń.</div>
}
@Styles.Render("~/Results")
